*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace
}

body{
     display: flex; 
    justify-content: center;
    align-items: center; 
    min-height:100vh ;
    background-color: #6bcac8 !important;
}


.contentt-cube{
    display: flex;
    row-gap: 90px;
    flex-direction: column;
    align-items: center;  

}
.cube{
    position: relative;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
    animation: animate 6s linear infinite;
}
@keyframes animate{
    0%
    {
        transform: rotateX(-30deg) rotateY(0deg);
    }
    100%{
        transform: rotateX(-30deg) rotateY(360deg);

    }
}

.cube div{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.cube div span{
    position: absolute;
    top: 0;
    left:0;
    height: 100%;
    width: 100%;
/* background: linear-gradient(#ef4b23,#ffd228); */
background: url("/Game-Saudi-National-Day/image-homepage/mokab.png");

transform: rotateY(calc(90deg*var(--i))) translateZ(150px)
}

.top{
    position: absolute;
    top:0;
    left: 0;
    width: 300px;
    height: 300px;
    /* background: rgba(239, 75, 35); */
    background: url("/Game-Saudi-National-Day/image-homepage/mokab.png");
    transform: rotateX(90deg) translateZ(150px);
}

.top::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    /* background: #ef4b23; */
    background: url("/Game-Saudi-National-Day/image-homepage/mokab.png");
    transform: translateZ(-380px);
    filter: blur(20px);
    box-shadow: 0 0 120px rgba(239, 75, 35, 0.2),
    0 0 120px rgba(239, 75, 3, 0.2),
    0 0 120px rgba(239, 75, 35, 0.4),
    0 0 120px rgba(239, 75, 35, 0.6),
    0 0 120px rgba(239, 75, 35, 0.8),

}

h1{
    color: azure;
}
h2{
    color: white;
  
}

.content-title{
    color: white !important;
    position: relative;
    text-align: center;
    
/* margin-bottom:;    text-align: center; */
}

.btn{
    background-color: white !important;
}


/* footer image */

.theline{
    background: url("/Game-Saudi-National-Day/image-homepage/theline.png") center bottom no-repeat;
background-size: contain;
position: absolute;
bottom: 13%;
width: 30%;
height: 100%;
left: 0;
z-index: 3;
    
}

.road{
    background: url("/Game-Saudi-National-Day/image-homepage/road.webp") center bottom no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 0;
    width: 30%;
    height: 100%;
    left: 0;
    z-index: 3;
}
.energy{
    background: url("/Game-Saudi-National-Day/image-homepage/Solar-energy.webp") center bottom no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 20%;
    width: 30%;
    height: 100%;
    left: 0;
    z-index: 1;
}

.women{
    background: url("/Game-Saudi-National-Day/image-homepage/women.webp") center bottom no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 20%;
    width: 30%;
    height: 50%;
    left: -2%;
    z-index: 1;
}
.man{
    background: url("/Game-Saudi-National-Day/image-homepage/man.webp") center bottom no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 18%;
    width: 30%;
    height: 50%;
    left: 5%;
    z-index: 1;
    transform: scaleX(-1);
}

/* .garden{
    background: url("/Game-Saudi-National-Day/image-homepage/Kings-garden.webp") center bottom no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 15%;
    width: 30%;
    height: 30%;
    left: 9%;
    z-index: 2;
}  */

/* .mountain-1{
    background: url("/Game-Saudi-National-Day/image-homepage/mountain-1.webp") center bottom no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 20%;
    width: 80%;
    height: 30%;
    left: -19%;
    z-index: 1;
} */

/* the right sid footer */

.ola{
    background: url("/Game-Saudi-National-Day/image-homepage/Ola.webp") center bottom no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 20%;
    width: 30%;
    height: 50%;
    right: -6%;
}

.Diriyah-1{
    background: url("/Game-Saudi-National-Day/image-homepage/Diriyah-1.png") center bottom no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 22%;
    width: 28%;
    height: 30%;
    right: 10%;
    z-index: 1;

}

.Diriyah-2{
    background: url("/Game-Saudi-National-Day/image-homepage/Diriyah-2.png") center bottom no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 20%;
    width: 28%;
    height: 40%;
    right: 3%;

}


.sea{
    background: url("/Game-Saudi-National-Day/image-homepage/sea.webp") center bottom no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 1%;
    width: 35%;
    height: 50%;
    right: 0;
    z-index: 1;

}

.Sindala{
    background: url("/Game-Saudi-National-Day/image-homepage/Sindala.webp") center bottom no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 17%;
    width: 35%;
    height: 50%;
    right: 0;
    z-index: 3;

}
.sun{
    background: url("/Game-Saudi-National-Day/image-homepage/sun.webp") center bottom no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 66%;
    width: 20%;
    height: 20%;
    right: 18%;
    z-index: 0;

}
.palm{
    background: url("/Game-Saudi-National-Day/image-homepage/palm.png") center bottom no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 22%;
    width: 30%;
    height: 50%;
    right: 14%;
z-index: 0;
}

/* */
.none-img{
    display: none;
}
@media only screen and (max-width: 600px) {
    body {

        flex-direction: column;
        align-items: center; 
        background: url("/Game-Saudi-National-Day/gameplatform/ND94-LOGO-STACKED-WHITE.png") ;
    }
    .none-img{
      
        display: block;
        width: 100%;
        height:auto;
    }

    .contentt-cube, .theline, .road, .energy, .women, .man, .ola, .Diriyah-1, .Diriyah-2, .sea, .Sindala, .sun, .palm {
        width: 90%; 
        height: auto; 
        position: relative; 
    }
}