*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: #00b4b3 !important;
    
}

.border-answer{
border: 1px soild black !important;
}


.in-bottom {
position: absolute;
box-shadow:5px 10px 8px #00663f;

}

.post-re{
    position: relative;
}

.player-bg{
    box-shadow:5px 10px 8px #00663f;
background-color: aliceblue;
}

 .btn:hover{
background-color: #00b4b3 !important;
}

.players-name-score {
    display: flex !important;
    flex-wrap: wrap !important;
    gap: 10px;
    justify-content: center !important; /* لتوسيع العناصر في الوسط أفقيًا */
    align-items: center !important;
}

.divplyer{
    background-color: white;
    border:  1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    width: 150px;
    text-align: center;
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
  
}